@{
}
@model User
<form asp-action="UpdateUser" asp-controller="User"  method="post">

  
  <input hidden id="id" type="number" name="id" value="@Model.Id" />
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" name = "Name" id="Name" value="@Model.Name" >
  </div>
  <div class="form-group">
    <label for="Age">Age</label>
    <input type="integer" class="form-control" name = "Age" id="Age" value="@Model.Age" >
  </div>
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="Email" class="form-control" name = "Email" id="Email" value="@Model.Email">
  </div>
  
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" name = "Password" class="form-control" id="Password" value="@Model.Password">
  </div>  
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>